.u-section-1 {
  background-image: url("../images/background-1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 4546px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 51px 340px 60px 0;
}
html{
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #767676;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03fafe;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3748px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2871px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2153px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}
