/* .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .day-section {
    margin-top: 20px;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card button {
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #bbb;
  }
  
  .card img {
    max-height: 200px;
    width: auto;
    margin-bottom: 10px;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card ul li {
    margin-bottom: 10px;
  }
  
  .card a {
    color: #4070f4;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  .card h5 {
    margin-bottom: 5px;
  }
  
  .card h6 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
   */
  .u-section-1 {
    background-image: var(--primary-background-image);
  }

  :root {
    --primary-background-image: url("../images/background-1.jpg");
    --primary-font-color: black;
    --primary-card-background: #f1f1f1;
    --primary-title-color: black;
    --primary-btn-color: black;
    --primary-scroll-color: #222222;
  }
  
  .dark-theme {
    --primary-background-image: linear-gradient(180deg, rgb(0, 29, 56) 0%, rgba(0,15,28,1) 55%, rgba(0,12,24,1) 100%);
    --primary-font-color: black;
    --primary-card-background: #a5a5a5;
    --primary-title-color: white;
    --primary-btn-color: white;
    --primary-scroll-color: #f1f1f1;
  }

  .day-title{
    color: var(--primary-font-color);
    font-weight: 400 !important;
    font-size: 3.5rem !important;
    line-height: 1.1 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 4.5rem;
    margin: 92px auto 60px;
    color: var(--primary-title-color);
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    font-size: 36px;
    line-height: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .back-to-top:hover {
    background-color: #555;
  }

  /* html{
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #767676;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #03fafe;
  } */
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  }
  

   .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    padding: 20px;
    width: 100%;
    max-height: 900px;
    overflow-y: auto;
    margin: 0 auto 5%;
}

.day-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-top: 10px;
}

.day-card {
    background-color: var(--primary-card-background);
    border-radius: 10px;
    padding: 10px;
    min-width: 500px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* .card button {
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #bbb;
} */

.card img {    
    height: 300px;
    width: 90%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

.card a {
    color: #4070f4;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card h5 {
    margin-bottom: 5px;
}

.card h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Scrollbar Styles */
.day-container::-webkit-scrollbar, .card::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.day-container::-webkit-scrollbar-thumb, .card::-webkit-scrollbar-thumb {
    background-color: var(--primary-scroll-color);
    border-radius: 25px;
}

.day-container::-webkit-scrollbar-thumb:hover , .card::-webkit-scrollbar-thumb:hover{
    background: gray;
}

.day-container::-webkit-scrollbar-track, .card::-webkit-scrollbar-track {
    background-color: transparent;
}
html{
  overflow: overlay;
  }
body::-webkit-scrollbar {
  width: 20px;
}
  
body::-webkit-scrollbar-track {
  background-color: transparent;
}
  
body::-webkit-scrollbar-thumb {
  background-color: #767676;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
  
body::-webkit-scrollbar-thumb:hover {
  background-color: #03fafe;
}

.btn {
    background-color: transparent;
    position: relative;
    border: none;
    fill: var(--primary-btn-color);
  }
  
  .btn::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .btn:hover > .icon {
    transform: scale(1.5);
  }
  
  .btn:hover > .icon path {
    fill: rgb(168, 7, 7);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
