.u-section-1 {
  min-height: 1351px;
}

.u-section-1 .u-image-1 {
  min-height: 1351px;
  height: auto;
  margin-top: 8px;
  margin-bottom: 0;
  background-image: var(--primary-background-image);
}
:root {
  --primary-background-image: url("../images/background-1.jpg");
  --primary-font-color: black;
  --primary-btn-background: black;
}

.dark-theme {
  --primary-background-image: linear-gradient(180deg, rgb(0, 29, 56) 0%, rgba(0,15,28,1) 55%, rgba(0,12,24,1) 100%);
  --primary-font-color: white;
  --primary-btn-background: #464646;
}

.cust-rev {
  color: var(--primary-font-color);
}

.cust-bigrev {
  color: var(--primary-font-color);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  font-size: 36px;
  line-height: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #555;
}


.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 92px auto 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  left: 500px;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 46px 0 0;
  max-width: 800px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 59px auto 0;
  background-color: var(--primary-btn-background) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

.review-cards {
  position: absolute;
  top: 600px;
  left: 150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 400px;
  max-width: 1450px;
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
}

.review-cards::-webkit-scrollbar {
  height: 8px;
}

.review-cards::-webkit-scrollbar-thumb {
  background-color: #4070f4;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.review-cards::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 25px;
}

.review-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  flex-shrink: 0;
  width: 450px;
  height: 300px;
  overflow-wrap: break-word;
  scroll-snap-align: start;
  color: black;
}

.review-header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.review-header h3 {
  font-family: Arial;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: black;
}

.review-header p {
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding-top: 5px;
  color: black;
}

.review-body {
  padding: 0 10px 0 10px;
  height: 100px;
  margin-bottom: 50px;
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.review-footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 20px;
  color: black;
}

.review-footer p {
  font-family: Arial;
  font-weight: 700;
  margin: 0;
  color: black;
}

.review-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #f00;
  font-family: Arial;
  font-weight: 700;
}



/* .review-container {
  width: 100%;
  height: 1000px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../images/background.jpg');
}

.review-page {
  width: 1200px;
  position: relative;
}

.review-title {
  top: 30px;
  left: -50px;
  position: absolute;
  font-size: 48px;
  font-family: Arial;
}

.review-home {
  top: 37px;
  right: 440px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-home:visited {
  color: black;
}

.review-home:hover {
  color: #fb0101;
}

.review-createit {
  top: 37px;
  right: 243px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-createit:visited {
  color: black;
}

.review-createit:hover {
  color: #fb0101;
}

.review-reviews {
  top: 37px;
  right: 113px;
  color: red;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-logout {
  top: 35px;
  right: -17px;
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial;
  text-decoration: none;
}

.review-logout:visited {
  color: black;
}

.review-logout:hover {
  color: #fb0101;
}

.review-customer {
  top: 163px;
  left: 389px;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
}

.review-short-para {
  top: 300px;
  left: 230px;
  width: 775px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  font-family: Arial;
}

.no-reviews {
  position: absolute;
  top: 572px;
  left: 500px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
}

.review-button {
  top: 350px;
  left: -120px;
  color: #ffffff;
  width: 175px;
  height: 66px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Arial;
  background-color: black;
  border-radius: 15px;
}

.review-table td:nth-child(3) {
  max-width: 280px;
  overflow: hidden;
  text-overflow: clip;
}

.footer {
  font-size: 25px;
  font-family: Arial;
}

.review-cards {
  position: absolute;
  top: 525px;
  left: -150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 400px;
  max-width: 1450px;
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
}

.review-cards::-webkit-scrollbar {
  height: 8px;
}

.review-cards::-webkit-scrollbar-thumb {
  background-color: #4070f4;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.review-cards::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 25px;
}

.review-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  flex-shrink: 0;
  width: 450px;
  height: 300px;
}

.review-header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.review-header h3 {
  font-family: Arial;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.review-header p {
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding-top: 5px;
}

.review-body {
  padding: 10px;
  height: 100px;
  margin-bottom: 50px;
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
}

.review-footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 20px;
}

.review-footer p {
  font-family: Arial;
  font-weight: 700;
  margin: 0;
}

.review-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #f00;
  font-family: Arial;
  font-weight: 700;
} */


/* .review-container {
  width: 100%;
  height: 1000px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../images/background.jpg');
}

.review-page {
  width: 1200px;
  position: relative;
}

.review-title {
  top: 30px;
  left: -50px;
  position: absolute;
  font-size: 48px;
  font-family: Arial;
}

.review-home {
  top: 37px;
  right: 440px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-home:visited {
  color: black;
}

.review-home:hover {
  color: #fb0101;
}

.review-createit {
  top: 37px;
  right: 243px;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-createit:visited {
  color: black;
}

.review-createit:hover {
  color: #fb0101;
}

.review-reviews {
  top: 37px;
  right: 113px;
  color: red;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700;
  text-decoration: none;
}

.review-logout {
  top: 35px;
  right: -17px;
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: Arial;
  text-decoration: none;
}

.review-logout:visited {
  color: black;
}

.review-logout:hover {
  color: #fb0101;
}

.review-customer {
  top: 163px;
  left: 389px;
  position: absolute;
  font-size: 40px;
  font-family: Arial;
}

.review-short-para {
  top: 300px;
  left: 230px;
  width: 775px;
  position: absolute;
  font-size: 25px;
  text-align: left;
  font-family: Arial;
}

.no-reviews {
  position: absolute;
  top: 572px;
  left: 500px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
}

.review-button {
  top: 350px;
  left: -120px;
  color: #ffffff;
  width: 175px;
  height: 66px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  font-family: Arial;
  background-color: black;
  border-radius: 15px;
}

.review-table td:nth-child(3) {
  max-width: 280px;
  overflow: hidden;
  text-overflow: clip;
}

.footer {
  font-size: 25px;
  font-family: Arial;
}

.review-cards {
  position: absolute;
  top: 525px;
  left: -150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 400px;
  max-width: 1450px;
  scrollbar-width: thin;
  scrollbar-color: #ddd #fff;
}

.review-cards::-webkit-scrollbar {
  height: 8px;
}

.review-cards::-webkit-scrollbar-thumb {
  background-color: #4070f4;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.review-cards::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 25px;
}

.review-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  flex-shrink: 0;
  width: 450px;
  height: 300px;
}

.review-header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.review-header h3 {
  font-family: Arial;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.review-header p {
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding-top: 5px;
}

.review-body {
  padding: 10px;
  height: 100px;
  margin-bottom: 50px;
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
}

.review-footer {
  border-top: 1px solid #ddd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-top: 20px;
}

.review-footer p {
  font-family: Arial;
  font-weight: 700;
  margin: 0;
}

.review-footer .star-rating {
  font-size: 30px;
  color: #f0dd27;
}

.review-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #f00;
  font-family: Arial;
  font-weight: 700;
}

.review-footer .star-rating span:before {
  content: "★";
  display: inline-block;
  transition: transform 0.2s;
  transform: translateY(-50%);
}

.review-footer .star-rating span {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  margin-right: 5px;
}

.review-footer .star-rating span:before {
  content: "★";
  display: inline-block;
  transition: transform 0.2s;
  transform: translateY(-50%);
}

.review-footer .star-rating input[type="radio"] {
  display: none;
}

.review-footer .star-rating input[type="radio"]:checked ~ span:before {
  transform: translateY(-50%) scale(1.5);
} */
