.review-container {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../images/background.jpg');
}

  .review-page {
    width: 1200px;
    height: 1000px;
    position: absolute;
  }
  .review-title {
    top: 30px;
    left: -50px;
    position: absolute;
    font-size: 48px;
    font-family: Arial;
  }
  .review-home {
    top: 37px;
    right: 440px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
    text-decoration: none;
  }
  .review-home:visited { 
    color: black; 
  }
  .review-home:hover {
    color: #fb0101;
  }
  .review-createit {
    top: 37px;
    right: 243px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
    text-decoration: none;
  }
  .review-createit:visited { 
    color: black; 
  }
  .review-createit:hover {
    color: #fb0101;
  }
  .review-reviews {
    top: 37px;
    right: 113px;
    color: red;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
    text-decoration: none;
  }
  .review-more {
    top: 37px;
    right: -120px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    font-weight: 700;
  }
  .review-customer {
    top: 163px;
    left: 389px;
    position: absolute;
    font-size: 40px;
    font-family: Arial;
  }
  .review-short-para {
    top: 300px;
    left: 230px;
    width: 775px;
    position: absolute;
    font-size: 25px;
    text-align: left;
    font-family: Arial;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    left: 120px;
    top: 572px;
  }
  th, td {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .no-reviews{
    position: absolute;
    top: 572px;
    left: 500px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
  }
  .review-button {
    top: 350px;
    left: -120px;
    color: #ffffff;
    width: 175px;
    height: 66px;
    position: absolute;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
    background-color: black;
    border-radius: 15px;
  } 
.review-table td:nth-child(3) {
  max-width: 280px;
  overflow: hidden;
  text-overflow: clip;
}

