/* .title {
    position: relative;
    font-size: 40px;
}

.location-title {
    position: relative;
    font-size: 25px;
    font-weight: 700;
}

.location-box {
    position: relative;
}

.place-title {
    position: relative;
    font-size: 25px;
    font-weight: 700;
}

.place-para {
    position: relative;
    width: 500px;
    font-size: 16px;
    text-align: left;
    background-color: blanchedalmond;
    font-weight: 200;
}

.place-box {
    position: relative;
}

.rest-title {
    position: relative;
    font-size: 25px;
    font-weight: 700;
}


.rest-para {
    position: relative;
    width: 500px;
    font-size: 16px;
    text-align: left;
    background-color: blanchedalmond;
    font-weight: 200;
}

.rest-box {
    position: relative;
}

.hotel-title {
    position: relative;
    font-size: 25px;
    font-weight: 700;
}


.hotel-para {
    position: relative;
    width: 500px;
    font-size: 16px;
    text-align: left;
    background-color: blanchedalmond;
    font-weight: 200;
}

.hotel-box {
    position: relative;
}

.press-search {
    position: relative;
    width: 100px;
    font-size: 15px;
    
} */

/* .u-section-1 {
    background-image: url("../images/testbg2.jpg");
  } */

  .u-section-1 {
    animation: bg-animation 40s linear infinite;
    background-size: cover;
  }
  
  @keyframes bg-animation {
    0% {
      background-image: url("../images/tg1.jpg");
      animation-duration: 10s;
    }
    25% {
      background-image: url("../images/tg2.jpg");
      animation-duration: 10s;
      animation-delay: 2s;
    }
    50% {
      background-image: url("../images/tg3.jpg");
      animation-duration: 10s;
      animation-delay: 4s;
    }
    75% {
      background-image: url("../images/tg4.jpg");
      animation-duration: 10s;
      animation-delay: 6s;
    }
    100% {
      background-image: url("../images/tg1.jpg");
      animation-duration: 10s;
      animation-delay: 8s;
    }
  }

:root {
  --primary-background-image: url("../images/background-1.jpg");
  --primary-btn-background: #000000;
  --primary-btn-font-color: #ffffff;
  --primary-btn-hover-background: #ffffff;
  --primary-btn-hover-font-color: #000000;
}

.dark-theme {
  --primary-background-image: linear-gradient(180deg, rgb(0, 29, 56) 0%, rgba(0,15,28,1) 55%, rgba(0,12,24,1) 100%);
  --primary-btn-background: #464646;
  --primary-btn-font-color: #ffffff;
  --primary-btn-hover-background: #ffffff;
  --primary-btn-hover-font-color: #000000;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  font-size: 36px;
  line-height: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.back-to-top:hover {
  background-color: #555;
}
  
.u-section-1 .u-image-1 {
    min-height: 1024px;
    background-image: var( --primary-background-image);
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-group-1 {
    width: 685px;
    height: auto;
    min-height: 800px;
    margin: 124px auto 60px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: normal;
    margin: 41px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    width: 570px;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  .press-search{
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    outline-width: 0;
    background-color: transparent;
    margin-bottom: 20px;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
    border-radius: 20px;
    background-color: var(--primary-btn-background);
    color: var(--primary-btn-font-color);
    border-width: 0;
}
.press-search:hover{
    background-color: var(--primary-btn-hover-background);
    color: var(--primary-btn-hover-font-color);
}
label{
    font-weight: 700;
    font-size: 30px;
}
html{
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #767676;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03fafe;
}
  @media (max-width: 1199px) {
    .u-section-1 .u-image-1 {
      min-height: 844px;
    }
  
    .u-section-1 .u-group-1 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-image-1 {
      min-height: 646px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-image-1 {
      min-height: 485px;
    }
  
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 520px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-image-1 {
      min-height: 305px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  }