.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: 0 auto 10%;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-picture {
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.view-profile-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.preferences{
  word-wrap: break-word;
}

.edit-button {
  background-color: black;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.u-section-1 {
  background-image: var(--primary-background-image);
}

:root {
  --primary-background-image: url("../images/background-1.jpg");
  --primary-font-color: black;
}

.dark-theme {
  --primary-background-image: url("../images/background-1-1.jpg");
  --primary-font-color: white;
}

.prof-title {
  color: var(--primary-font-color);
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 92px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}
html{
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #767676;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03fafe;
}
/* 
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}
 
html{
  overflow: overlay;
}  */