{% load static %}
<head>
  <title>Getaway Guide</title>
</head>
<div>
  <link href="{% static 'css/create-itinerary.css' %}" rel="stylesheet" />
    <div class="create-itinerary-container">
      <div class="create-itinerary-container1">
        <div class="create-itinerary-container2">
          <a
            href="/"
            rel="noreferrer noopener"
            class="create-itinerary-link"
          >
            Home
          </a>
          <a
            href="/create-itinerary/"
            rel="noreferrer noopener"
            class="create-itinerary-link1"
          >
            Create Itinerary
          </a>
          <a
            href="/reviews"
            rel="noreferrer noopener"
            class="create-itinerary-link2"
          >
            Reviews
          </a>
          <a
            href="/logout/"
            rel="noreferrer noopener"
            class="create-itinerary-link3"
          >
            Logout
          </a>
        </div>
        <h1 class="create-itinerary-create-itin">Create Itinerary</h1>
        <input type="text" placeholder=" 🔍 Where to?" class="input create-itinerary-whereto" value="{{ country }}">
        <button class ="recommend-button" onclick="window.location.href='/recommend/'">Recommend</button>
        <label class="create-itinerary-start">Start:</label>
        <input type="date" class="input create-itinerary-start-input" />
        <label class="create-itinerary-end">End:</label>
        <input type="date" class="input create-itinerary-end-input" />
        <input
          type="text"
          placeholder="Budget Range: $"
          class="input create-itinerary-budget"
        />
        <span class="create-itinerary-text03">Additional Preferences</span>
        <select size="0" class="create-itinerary-dietary">
          <option selected>Dietary Restrictions</option>
          <option value="Option 2">Halal</option>
          <option value="New Option">Vegan</option>
          <option value="New Option">Vegetarian</option>
          <option value="New Option">Kosher</option>
          <option value="New Option">Carnivore</option>
        </select>
        <select size="0" class="create-itinerary-accessibility">
          <option selected>Accessibility</option>
          <option value="Option 2">Impaired vision</option>
          <option value="New Option">impaired hearing</option>
          <option value="New Option">wheel-chair bound</option>
        </select>
        <input
          type="text"
          placeholder="Preferences e.g. religion, hobbies"
          class="input create-itinerary-preference"
        />
        <button class="cssbuttons-io-button"> Save
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
          </div>
        </button>
      </div>
      <h1 class="create-itinerary-text07">
        <span>Getaway Guide</span>
        <br />
        <br />
      </h1>
    </div>
    <footer class= "footer">
      <p>Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g. financial information or otherwise) into the system. The assignment runs until May 31st 2023, at which time the server and all associated data will be destroyed</p>
  </footer>
  </div>
  