<!DOCTYPE html>
<html>
<head>
    <title>Create Trip</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/create-trip.css" media="screen">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">  
    <script>
        $(function() {
            var gridWidth = 416; 

            $(".place-item").draggable({
                helper: 'clone',
                snap: ".day-container",
                snapMode: "outer",
                snapTolerance: 16,
                start: function(event, ui) {
                    $(this).css('opacity', 1);
                },
                stop: function(event, ui) {
                    $(this).css('opacity', 1);
                }
            });

            $(".day-container").droppable({
                accept: ".place-item",
                tolerance: "intersect",
                greedy: true,
                drop: function(event, ui) {
                    var draggable = ui.draggable;
                    var clone = draggable.clone();
                    clone.draggable({
                        helper: 'clone',
                        snap: ".day-container",
                        snapMode: "outer",
                        snapTolerance: 16
                    });
                    clone = $('<div class="place-item-container" style="z-index: 1;"></div>').append(clone); // Add inline style
                    $(this).append(clone);

                    // Add the "x" button
                    var removeButton = $('<span class="remove-item">x</span>');
                    clone.append(removeButton);
                    removeButton.click(function() {
                        clone.remove();
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div style="display: grid; justify-items: end;">
        <img src="../static/images/moon.png" id="icon" height="30" width="30.5" style="position: relative; top: 7px; padding: 10px 20px;">
    </div>      
    <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
        <p class="trip-to">Trip To {{ location }}</p>
        <button class="back-btn" onclick="history.back()">
            <svg class="back-svg" height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
            <span>Back</span>
        </button>
        <p class="days-message">Your trip duration: {{ date_difference }} days</p>
        <div>
            {% for day in days_range %}
            <p class="day">Day {{ day }}</p> 
            <div class="day-wrapper">
            <button class="rest-day-btn">Rest Day</button>
                <div class="day-container"></div>
                <div class="rest-day-message">Rest Day</div>
            </div>
            {% endfor %}
        </div>
        <script>
            $(".rest-day-btn").on("click", function() {
                var dayWrapper = $(this).closest(".day-wrapper");
                var dayContainer = dayWrapper.find(".day-container");
                var restDayMessage = dayWrapper.find(".rest-day-message");

                if (dayContainer.is(":visible")) {
                    dayContainer.hide();
                    $(this).text("Cancel Rest Day");
                    restDayMessage.show();
                } else {
                    dayContainer.show();
                    $(this).text("Rest Day");
                    restDayMessage.hide();
                }
            });
        </script>
        <br>
        <br>
        <form id="itinerary-form" action="{% url 'trip-summary' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="itinerary[]" id="itinerary-data">
            <button type="submit" class="final-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M350 976v-42l80-60V623L80 726v-58l350-206V226q0-21 14.5-35.5T480 176q21 0 35.5 14.5T530 226v236l350 206v58L530 623v251l80 60v42l-130-37-130 37Z"/></svg>
                <span>Trip Summary</span>
            </button>
        </form> 
        <script>
            $("#itinerary-form").on("submit", function() {
                var itinerary = [];
                $(".day-wrapper").each(function(index) {
                    var dayContainer = $(this).find(".day-container");
                    var dayItems = [];
                    dayContainer.find(".place-item").each(function() {
                        dayItems.push($(this).html());
                    });
            
                    var isRestDay = dayContainer.css('display') === 'none';
            
                    itinerary.push({ "day": index + 1, "items": dayItems, "is_rest_day": isRestDay });
                });
            
                // Check if the itinerary array is empty or contains only empty days
                var isEmpty = itinerary.every(function(dayObj) {
                    return dayObj.items.length === 0;
                });
            
                // If the itinerary is empty, add a single empty day to avoid KeyError
                if (isEmpty) {
                    itinerary = [{ "day": 1, "items": [] }];
                }
            
                console.log("Itinerary data before submitting:", itinerary);
                $("#itinerary-data").val(JSON.stringify(itinerary));
            });
            
        </script>
        <div class="background-image-container">
            <p class="day">Tourist Attractions in {{ location }}</p>
            <div class="places-container">
                {% for place in attractions %}
                <div class="place-item">
                    <h2>{{ place.name }}</h2>
                    <p>{{ place.formatted_address }}</p>
                    {% if place.photos %}
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.photos.0.photo_reference }}&key=AIzaSyCdQMF13dD7iNdbYEMNXddruacxqhlZkvo" alt="{{ place.name }} photo">
                    {% endif %}
                    {% if place.website %}
                    <p class="website-url">Website: <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                    {% endif %}
                    {% if place.rating %}
                    <p>Rating: {{ place.rating }}/5</p>
                    {% endif %}
                    {% if place.opening_hours %}
                    <p>Opening hours:</p>
                    <ul>
                        {% for day in place.opening_hours.weekday_text %}
                        <li>{{ day }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            
            {% if accessibility %}
            <p class="day">{{ accessibility|title }} Accessible Tourist Attractions in {{ location }}</p>
            <div class="places-container">
                {% for place in accessible_attractions %}
                <div class="place-item">
                    <h2>{{ place.name }}</h2>
                    <p>{{ place.formatted_address }}</p>
                    {% if place.photos %}
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.photos.0.photo_reference }}&key=AIzaSyCdQMF13dD7iNdbYEMNXddruacxqhlZkvo" alt="{{ place.name }} photo">
                    {% endif %}
                    {% if place.website %}
                    <p class="website-url">Website: <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                    {% endif %}
                    {% if place.rating %}
                    <p>Rating: {{ place.rating }}/5</p>
                    {% endif %}
                    {% if place.opening_hours %}
                    <p>Opening hours:</p>
                    <ul>
                        {% for day in place.opening_hours.weekday_text %}
                        <li>{{ day }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            
            {% if custom_results %}
            <p class="day">{{ custom_query|title }} in {{ location }}</p>
            <div class="places-container">
                {% for place in custom_results %}
                <div class="place-item">
                    <h2>{{ place.name }}</h2>
                    <p>{{ place.formatted_address }}</p>
                    {% if place.photos %}
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.photos.0.photo_reference }}&key=AIzaSyCdQMF13dD7iNdbYEMNXddruacxqhlZkvo" alt="{{ place.name }} photo">
                    {% endif %}
                    {% if place.website %}
                    <p class="website-url">Website: <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                    {% endif %}
                    {% if place.rating %}
                    <p>Rating: {{ place.rating }}/5</p>
                    {% endif %}
                    {% if place.opening_hours %}
                    <p>Opening hours:</p>
                    <ul>
                        {% for day in place.opening_hours.weekday_text %}
                        <li>{{ day }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endif %}


            {% if dietary_restriction %}
            <p class="day">{{ dietary_restriction|title }} Restaurants in {{ location }}</p>
            {% else %}
            <p class="day">Restaurants in {{ location }}</p>
            {% endif %}
            <div class="places-container">
                {% for place in restaurants %}
                <div class="place-item">
                    <h2>{{ place.name }}</h2>
                    <p>{{ place.formatted_address }}</p>
                    {% if place.photos %}
                    <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.photos.0.photo_reference }}&key=AIzaSyCdQMF13dD7iNdbYEMNXddruacxqhlZkvo" alt="{{ place.name }} photo">
                    {% endif %}
                    {% if place.website %}
                    <p class="website-url">Website: <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                    {% endif %}
                    {% if place.rating %}
                    <p>Rating: {{ place.rating }}/5</p>
                    {% endif %}
                    {% if place.opening_hours %}
                    <p>Opening hours:</p>
                    <ul>
                        {% for day in place.opening_hours.weekday_text %}
                        <li>{{ day }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <p class="day">Hotels in {{ location }}</p>
            <div class="places-container">
            {% for place in hotels %}
            <div class="place-item">
                <h2>{{ place.name }}</h2>
                <p>{{ place.formatted_address }}</p>
                {% if place.photos %}
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.photos.0.photo_reference }}&key=AIzaSyCdQMF13dD7iNdbYEMNXddruacxqhlZkvo" alt="{{ place.name }} photo">
                {% endif %}
                {% if place.website %}
                <p class="website-url">Website: <a href="{{ place.website }}" target="_blank">{{ place.website }}</a></p>
                {% endif %}
                {% if place.rating %}
                <p>Rating: {{ place.rating }}/5</p>
                {% endif %}
                {% if place.opening_hours %}
                <p>Opening hours:</p>
                <ul>
                    {% for day in place.opening_hours.weekday_text %}
                    <li>{{ day }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
        <script>
            var icon = document.getElementById("icon");
            var body = document.body;
            var isDarkMode = localStorage.getItem("darkMode");
            if (isDarkMode === "true") {
              body.classList.add("dark-theme");
              icon.src = "../static/images/sun.png";
            }
            icon.onclick = function() {
              body.classList.toggle("dark-theme");
              if (body.classList.contains("dark-theme")) {
                icon.src = "../static/images/sun.png";
                localStorage.setItem("darkMode", "true");
              } else {
                icon.src = "../static/images/moon.png";
                localStorage.setItem("darkMode", "false");
              }
            };
        </script> 
        <button onclick="scrollToTop()" class="back-to-top">↑</button>
        <script>
          window.addEventListener("scroll", function() {
            var button = document.querySelector(".back-to-top");
        
            // Show the button when scrolling down
            if (window.scrollY > 0) {
              button.style.display = "block";
            } else {
              button.style.display = "none";
            }
          });
        
          function scrollToTop() {
            window.scrollTo({
              top: 0,
              behavior: "smooth" // Use smooth scrolling animation
            });
          }
        </script>  
</body>
</html>
       
