<div>
    <link href="../static/css/create-itinerary.css" rel="stylesheet" />
    <div class="create-itinerary-container">
      <div class="create-itinerary-container1">
        <div class="create-itinerary-container2">
          <a
            href="/"
            rel="noreferrer noopener"
            class="create-itinerary-link"
          >
            Home
          </a>
          <a
            href="/create-itinerary/"
            rel="noreferrer noopener"
            class="create-itinerary-link1"
          >
            Create Itinerary
          </a>
          <a
            href="/reviews"
            rel="noreferrer noopener"
            class="create-itinerary-link2"
          >
            Reviews
          </a>
          <span class="create-itinerary-text">
            <span>More Coming Soon</span>
            <br />
          </span>
        </div>
        <h1 class="create-itinerary-create-itin">Create Itinerary</h1>
        <input
          type="text"
          placeholder=" 🔍 Where to?"
          class="input create-itinerary-whereto"
        />
        <label class="create-itinerary-start">Start:</label>
        <input type="date" class="input create-itinerary-start-input" />
        <label class="create-itinerary-end">End:</label>
        <input type="date" class="input create-itinerary-end-input" />
        <input
          type="text"
          placeholder="Budget Range: $"
          class="input create-itinerary-budget"
        />
        <span class="create-itinerary-text03">Additional Preferences</span>
        <select size="0" class="create-itinerary-dietary">
          <option selected>Dietary Restrictions</option>
          <option value="Option 2">Halal</option>
          <option value="New Option">Vegan</option>
          <option value="New Option">Vegetarian</option>
          <option value="New Option">Kosher</option>
          <option value="New Option">Carnivore</option>
        </select>
        <select size="0" class="create-itinerary-accessibility">
          <option selected>Accessibility</option>
          <option value="Option 2">Impaired vision</option>
          <option value="New Option">impaired hearing</option>
          <option value="New Option">wheel-chair bound</option>
        </select>
        <input
          type="text"
          placeholder="Preferences e.g. religion, hobbies"
          class="input create-itinerary-preference"
        />
        <button class="button create-itinerary-button">
          <span>
            <span>Save</span>
            <br />
          </span>
        </button>
      </div>
      <h1 class="create-itinerary-text07">
        <span>Getaway Guide</span>
        <br />
        <br />
      </h1>
    </div>
  </div>
  