<head>
  <title>Getaway Guide</title>
</head>
<div>
  <link href="../static/css/gdpr.css" rel="stylesheet" />
  <div>
    <div class="gdpr-gdpr">
      <span class="gdpr-title">Getaway Guide GDPR Policy</span>
      <span class="gdpr-short-para">
        Getaway Guide is part of the Getaway Guide Group which includes Getaway
        Guide and Getawayguide Direct. This privacy policy will explain how our
        organization uses the personal data we collect from you when you use our
        website.
      </span>
      <span class="gdpr-topics">
        <span class="gdpr-text">Topics:</span>
        <br class="gdpr-text001" />
        <br class="gdpr-text002" />
        <span class="gdpr-text003">-What data do we collect?</span>
        <br class="gdpr-text004" />
        <span class="gdpr-text005">-How do we collect your data?</span>
        <br class="gdpr-text006" />
        <span class="gdpr-text007">-How will we use your data?</span>
        <br class="gdpr-text008" />
        <span class="gdpr-text009">-How do we store your data?</span>
        <br class="gdpr-text010" />
        <span class="gdpr-text011">-Marketing</span>
        <br class="gdpr-text012" />
        <span class="gdpr-text013">-What are your data protection rights?</span>
        <br class="gdpr-text014" />
        <span class="gdpr-text015">-What are cookies?</span>
        <br class="gdpr-text016" />
        <span class="gdpr-text017">-How do we use cookies?</span>
        <br class="gdpr-text018" />
        <span class="gdpr-text019">-What types of cookies do we use?</span>
        <br class="gdpr-text020" />
        <span class="gdpr-text021">-How to manage your cookies</span>
        <br class="gdpr-text022" />
        <span class="gdpr-text023">-Privacy policies of other websites</span>
        <br class="gdpr-text024" />
        <span class="gdpr-text025">-Changes to our privacy policy</span>
        <br class="gdpr-text026" />
        <span class="gdpr-text027">-How to contact us</span>
        <br class="gdpr-text028" />
        <span class="gdpr-text029">
          -How to contact the appropriate authorities
        </span>
      </span>
      <span class="gdpr-emails">
        <span class="gdpr-text030">Contact Details of Team Members:</span>
        <br class="gdpr-text031" />
        <br class="gdpr-text032" />
        <span class="gdpr-text033">
          Bareera Zakir: bxz111@student.bham.ac.uk
        </span>
        <br class="gdpr-text034" />
        <span class="gdpr-text035">
          Mohammad Silat: mxs1576@student.bham.ac.uk
        </span>
        <br class="gdpr-text036" />
        <span class="gdpr-text037">
          Hamza Kazmi:  hxk001@student.bham.ac.uk
        </span>
        <br class="gdpr-text038" />
        <span class="gdpr-text039">Hyder Hafiz: hxh104@student.bham.ac.uk</span>
        <br class="gdpr-text040" />
        <span class="gdpr-text041">
          Ahmed Mohammed Khaleel: axm1742@student.bham.ac.uk
        </span>
        <br class="gdpr-text042" />
        <span class="gdpr-text043">
          Aman Motwani: axm1897@student.bham.ac.uk
        </span>
        <br class="gdpr-text044" />
        <span class="gdpr-text045">
          Mohammed Al-Attabi: mxa1364@student.bham.ac.uk
        </span>
        <br class="gdpr-text046" />
        <br class="gdpr-text047" />
      </span>
      <span class="gdpr-what-data">
        <span>What data do we collect?</span>
        <br />
        <br />
        <span class="gdpr-text051">
          Getaway Guide collects the following data:
        </span>
        <br class="gdpr-text052" />
        <span class="gdpr-text053">
          -Personal identification information for login (Name, email address,
          phone number, etc.)
        </span>
        <br class="gdpr-text054" />
        <span class="gdpr-text055">-Save personal credentials (passwords)</span>
        <br class="gdpr-text056" />
        <span class="gdpr-text057">
          -Profile preferences (meal preferences, gender, marital status,
          allergies etc.)
        </span>
        <br class="gdpr-text058" />
        <span class="gdpr-text059">
          -Option to save card details for future purchases
        </span>
      </span>
      <span class="gdpr-collect-data">
        <span class="gdpr-text060">How do we collect your data?</span>
        <br class="gdpr-text061" />
        <br class="gdpr-text062" />
        <span class="gdpr-text063">
          You directly provide GetawayGuide with most of the data we collect. We
          collect data and process data when you:
        </span>
        <br class="gdpr-text064" />
        <br class="gdpr-text065" />
        <span class="gdpr-text066">
          -Register online and make an account, verification
        </span>
        <br class="gdpr-text067" />
        <span class="gdpr-text068">
          -Voluntarily complete a customer survey or provide feedback on our
          services during previous trips that the user had
        </span>
        <br class="gdpr-text069" />
        <span class="gdpr-text070">
          -Use or view our website via your browser’s cookies.
        </span>
        <br class="gdpr-text071" />
        <span class="gdpr-text072">
          -User input of preferences, enters plans of itineraries etc.
        </span>
        <br class="gdpr-text073" />
        <br class="gdpr-text074" />
        <span class="gdpr-text075">
          GetawayGuide may also receive your data indirectly from the following
          sources:
        </span>
        <br class="gdpr-text076" />
        <br class="gdpr-text077" />
        <span class="gdpr-text078">-Ads</span>
        <br class="gdpr-text079" />
        <span class="gdpr-text080">-Partner websites</span>
        <br />
      </span>
      <span class="gdpr-use-data">
        <span>How will we use your data?</span>
        <br />
        <br />
        <span class="gdpr-text085">
          GetawayGuide collects your data so that we can:
        </span>
        <br class="gdpr-text086" />
        <br class="gdpr-text087" />
        <span class="gdpr-text088">
          -Implement your plans and manage your account.
        </span>
        <br class="gdpr-text089" />
        <span class="gdpr-text090">
          -Email you with special offers on other trips and services we think
          you might like, based on your previous trips and input preferences.
        </span>
        <br class="gdpr-text091" />
        <span class="gdpr-text092">
          -Data mining for getting places and countries accustomed to your
          liking with relevant sightseeing tours.
        </span>
        <br class="gdpr-text093" />
        <br class="gdpr-text094" />
        <span class="gdpr-text095">
          If you agree, GetawayGuide will share your data with our partner
          companies so that they may offer you their products and services.
        </span>
        <br class="gdpr-text096" />
        <br class="gdpr-text097" />
        <span class="gdpr-text098">-Skyscanner flights</span>
        <br class="gdpr-text099" />
        <span class="gdpr-text100">-Tripadvisor hotels</span>
        <br class="gdpr-text101" />
        <span class="gdpr-text102">-YellowPages</span>
        <br class="gdpr-text103" />
        <br class="gdpr-text104" />
        <span class="gdpr-text105">
          When GetawayGuide works on your purchase, it may send your data to,
          and also use the resulting information from, credit reference agencies
          to prevent fraudulent purchases.
        </span>
        <br />
      </span>
      <span class="gdpr-store-data">
        <span class="gdpr-text107">How do we store your data?</span>
        <br class="gdpr-text108" />
        <br class="gdpr-text109" />
        <span class="gdpr-text110">
          GetawayGuide securely stores your data at our in house database,
          secured via multi factor authentications. Our servers will be hosted
          by the University of Birmingham - the servers are in Europe/the EEA.
        </span>
        <br class="gdpr-text111" />
        <br class="gdpr-text112" />
        <span class="gdpr-text113">
          GetawayGuide will keep your personal data for 10 years. Once this time
          period has expired, we will delete your data by replacing all
          credentials with null and deleting the user account. If the user
          wishes to continue activation of their account, they would be prompted
          via email to renew their time period and re-enter their details that
          may need to be updated.
        </span>
        <br class="gdpr-text114" />
      </span>
      <span class="gdpr-marketing">
        <span>Marketing</span>
        <br />
        <br />
        <span class="gdpr-text118">
          Getaway Guide would like to send you information about products and
          services of ours that we think you might like, as well as those of our
          partner companies.
        </span>
        <br class="gdpr-text119" />
        <br class="gdpr-text120" />
        <span class="gdpr-text121">-Skyscanner flights</span>
        <br class="gdpr-text122" />
        <span class="gdpr-text123">-Tripadvisor hotels</span>
        <br class="gdpr-text124" />
        <span class="gdpr-text125">-YellowPages</span>
        <br class="gdpr-text126" />
        <span class="gdpr-text127">-Google Adsense</span>
        <br class="gdpr-text128" />
        <span class="gdpr-text129">-Google Mail</span>
        <br class="gdpr-text130" />
        <span class="gdpr-text131">
          -Social media platforms (Instagram, Twitter, Whatsapp)
        </span>
        <br class="gdpr-text132" />
        <br class="gdpr-text133" />
        <span class="gdpr-text134">
          If you have agreed to receive marketing, you may always opt out at a
          later date.
        </span>
        <br class="gdpr-text135" />
        <br class="gdpr-text136" />
        <span class="gdpr-text137">
          You have the right at any time to stop GetawayGuide from contacting
          you for marketing purposes or giving your data to other members of the
          GetawayGuide Group.
        </span>
        <br />
      </span>
      <span class="gdpr-right-to">
        <span class="gdpr-text139">What are your data protection rights?</span>
        <br class="gdpr-text140" />
        <br class="gdpr-text141" />
        <span class="gdpr-text142">
          GetawayGuide would like to make sure you are fully aware of all of
          your data protection rights. Every user is entitled to the following:
        </span>
        <br class="gdpr-text143" />
        <br class="gdpr-text144" />
        <span class="gdpr-text145">The right to access</span>
        <span class="gdpr-text146">
          – You have the right to request GetawayGuide for copies of your
          personal data. We may charge you a small fee for this service.
        </span>
        <br class="gdpr-text147" />
        <br class="gdpr-text148" />
        <span class="gdpr-text149">The right to rectification</span>
        <span class="gdpr-text150">
          – You have the right to request that GetawayGuide correct any
          information you believe is inaccurate. You also have the right to
          request GetawayGuide to complete the information you believe is
          incomplete.
        </span>
        <br class="gdpr-text151" />
        <br class="gdpr-text152" />
        <span class="gdpr-text153">The right to erasure</span>
        <span class="gdpr-text154">
          – You have the right to request that GetawayGuide erase your personal
          data, under certain conditions.
        </span>
        <br class="gdpr-text155" />
        <br class="gdpr-text156" />
        <span class="gdpr-text157">The right to restrict processing</span>
        <span class="gdpr-text158">
          – You have the right to request that GetawayGuide restrict the
          processing of your personal data, under certain conditions.
        </span>
        <br class="gdpr-text159" />
        <br class="gdpr-text160" />
        <span class="gdpr-text161">The right to object to processing</span>
        <span class="gdpr-text162">
          – You have the right to object to GetawayGuide’s processing of your
          personal data, under certain conditions.
        </span>
        <br class="gdpr-text163" />
        <br class="gdpr-text164" />
        <span class="gdpr-text165">The right to data portability</span>
        <span class="gdpr-text166">
          – You have the right to request that GetawayGuide transfer the data
          that we have collected to another organization, or directly to you,
          under certain conditions.
        </span>
        <br class="gdpr-text167" />
        <br class="gdpr-text168" />
        <span class="gdpr-text169">
          If you make a request, we have one month to respond to you. If you
          would like to exercise any of these rights, please contact us at our 
        </span>
        <br class="gdpr-text170" />
        <span class="gdpr-text171">
          email: customerservice@getawayguide.org
        </span>
        <br class="gdpr-text172" />
        <br class="gdpr-text173" />
        <span class="gdpr-text174">Call us at : +97145556666</span>
        <br class="gdpr-text175" />
      </span>
      <span class="gdpr-last-para">
        <span>Cookies</span>
        <br />
        <br />
        <span class="gdpr-text179">
          Cookies are text files placed on your computer to collect standard
          Internet log information and visitor behavior information. When you
          visit our websites, we may collect information from you automatically
          through cookies or similar technology
        </span>
        <br class="gdpr-text180" />
        <span class="gdpr-text181">
          For further information, visit allaboutcookies.org.
        </span>
        <br />
        <br />
        <span>How do we use cookies?</span>
        <br />
        <br />
        <span class="gdpr-text187">
          GetawayGuide uses cookies in a range of ways to improve your
          experience on our website, including:
        </span>
        <br class="gdpr-text188" />
        <span class="gdpr-text189">Keeping you signed in</span>
        <br class="gdpr-text190" />
        <span class="gdpr-text191">Understanding how you use our website</span>
        <br class="gdpr-text192" />
        <span class="gdpr-text193">
          How we can improve your experience in terms of accessibility.
        </span>
        <br class="gdpr-text194" />
        <span class="gdpr-text195">
          Help us understand which parts of our Web site interest our visitors
          and if they experience any errors.
        </span>
        <br />
        <br />
        <br />
        <span class="gdpr-text199">What types of cookies do we use?</span>
        <br class="gdpr-text200" />
        <br class="gdpr-text201" />
        <span class="gdpr-text202">
          There are a number of different types of cookies, however, our website
          uses:
        </span>
        <br class="gdpr-text203" />
        <span class="gdpr-text204">
          -Functionality – Getaway Guide uses these cookies so that we recognize
          you on our website and remember your previously selected preferences.
          These could include what language you prefer and location you are in.
          A mix of first-party and third-party cookies are used.
        </span>
        <br class="gdpr-text205" />
        <span class="gdpr-text206">
          -Advertising – Getaway Guide uses these cookies to collect information
          about your visit to our website, the content you viewed, the links you
          followed and information about your browser, device, and your IP
          address. Getaway Guide sometimes shares some limited aspects of this
          data with third parties for advertising purposes. We may also share
          online data collected through cookies with our advertising partners.
          This means that when you visit another website, you may be shown
          advertising based on your browsing patterns on our website.
        </span>
        <br class="gdpr-text207" />
        <span class="gdpr-text208">
          -Analytical cookies to help improve on errors you face or your most
          liked and disliked pages.
        </span>
        <br class="gdpr-text209" />
        <br />
        <span>How to manage cookies</span>
        <br />
        <br />
        <span class="gdpr-text214">
          You can set your browser not to accept cookies, and the above website
          tells you how to remove cookies from your browser. However, in a few
          cases, some of our website features may not function as a result.
        </span>
        <br class="gdpr-text215" />
        <span class="gdpr-text216">Privacy policies of other websites</span>
        <br class="gdpr-text217" />
        <br class="gdpr-text218" />
        <span class="gdpr-text219">
          The Getaway Guide website contains links to other websites. Our
          privacy policy applies only to our website, so if you click on a link
          to another website, you should read their privacy policy.
        </span>
        <br class="gdpr-text220" />
        <span class="gdpr-text221">Changes to our privacy policy</span>
        <br />
        <br />
        <span class="gdpr-text224">
          GetawayGuide keeps its privacy policy under regular review and places
          any updates on this web page. This privacy policy was last updated on
          13th March 2023.
        </span>
        <br />
        <br />
        <span>How to contact us?</span>
        <br />
        <br />
        <span class="gdpr-text230">
          If you have any questions about GetawayGuide’s privacy policy, the
          data we hold on you, or you would like to exercise one of your data
          protection rights, please do not hesitate to contact us.
        </span>
        <br class="gdpr-text231" />
        <span class="gdpr-text232">Email us at: admin@getawayguide.org</span>
        <br class="gdpr-text233" />
        <span class="gdpr-text234">Call us: +97145556667</span>
        <br />
        <br />
        <span>How to contact the appropriate authority?</span>
        <br />
        <br />
        <span class="gdpr-text240">
          Should you wish to report a complaint or if you feel that GetawayGuide
          has not addressed your concern in a satisfactory manner, you may
          contact the Information Commissioner’s Office.
        </span>
        <br class="gdpr-text241" />
        <span class="gdpr-text242">Email: complaints@getawayguide.org</span>
      </span>
      <button class="button home-button"onclick="window.location.href='/'">Home</button>
    </div>
  </div>
  <footer class= "footer">
    <p>Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g. financial information or otherwise) into the system. The assignment runs until May 31st 2023, at which time the server and all associated data will be destroyed</p>
</footer>
</div>