<head>
  <title>Getaway Guide</title>
</head>
<div>
    <link href="../static/css/homepage.css" rel="stylesheet" />
    <div class="homepage-container">
      <div id="firstsection" class="homepage-page-1">
        <div class="homepage-container1">
          <a
            href="/create-itinerary/"
            rel="noreferrer noopener"
            class="homepage-link"
          >
            Create Itinerary
          </a>
          <a
            href="/reviews/"
            rel="noreferrer noopener"
            class="homepage-link1"
          >
            Reviews
          </a>
          <span class="homepage-text">
            <span>More Coming Soon</span>
            <br />
          </span>
          <a
            href="/homepage/"
            rel="noreferrer noopener"
            class="homepage-link2"
          >
            Home
          </a>
        </div>
        <h1 class="homepage-title">Getaway Guide</h1>
        <span class="homepage-shortpara">
          Travel smarter, not harder. Our site helps you plan the perfect
          vacation, considering every detail, from your children&apos;s hobbies to
          your budget.
        </span>
        <img
          alt="image"
          src="../static/images/plane.png"
          class="homepage-plane"
        />
        <img
          alt="image"
          src="../static/images/map-image.png"
          class="homepage-pointer"
        />
        <h1 class="homepage-review-title">Our Site, Reviewed &amp; Approved</h1>
        <img
          alt="image"
          src="../static/images/review1.png"
          class="homepage-review1"
        />
        <img
          alt="image"
          src="../static/images/review2.png"
          class="homepage-review2"
        />
      </div>
      <div id="main-section" class="homepage-page-2">
        <h1 class="homepage-ideal-getaway">Planning Your Ideal Getaway</h1>
        <div class="step1-container step1-root-class-name4">
          <span class="step1-text"><span>1. Enter Your Details</span></span>
          <div class="step1-container1">
            <img
              alt="image"
              src="../static/images/form.png"
              class="step1-image"
            />
          </div>
        </div>
        <div class="step2-container step2-root-class-name4">
          <span class="step2-text">
            <span>2. Add Your Hobbies And Preferences</span>
          </span>
          <div class="step2-container1">
            <img
              alt="image"
              src="../static/images/hobbies.png"
              class="step2-image"
            />
          </div>
        </div>
        <div class="step3-container step3-root-class-name4">
          <span class="step3-text">
            <span>3.Relax and Enjoy Your Dream Vacation</span>
          </span>
          <div class="step3-container1">
            <img
              alt="image"
              src="../static/images/relax.png"
              class="step3-image"
            />
          </div>
        </div>
      </div>
      <div id="third-section" class="homepage-page-3">
        <h1 class="homepage-why-us">
          <span>Why Us?</span>
          <br />
          <br />
        </h1>
        <div class="reason1-container reason1-root-class-name3">
          <span class="reason1-text"><span>We Get You:</span></span>
          <div class="reason1-container1">
            <span class="reason1-text1">
              <span>
                We know that no two traveller are the same, and that's why we take
                the time to understand your unique interests and preferences.
                Whether you're a foodie, a history buff, or an adrenaline junkie,
                we'll create an itinerary that's tailored just for you based on
                your previous experiences.
              </span>
            </span>
          </div>
        </div>
        <div class="reason2-container reason2-root-class-name3">
          <span class="reason2-text">
            <span>We Take The Stress Out Of Travel:</span>
          </span>
          <div class="reason2-container1">
            <span class="reason2-text1">
              <span>
                Let's face it, planning a trip can be overwhelming. But with our
                site, you can leave the stress behind. We'll take care of
                everything from hotels to locations, to activities and
                reservations. All you have to do is show up and have a good time.
              </span>
            </span>
          </div>
        </div>
        <div class="reason3-container reason3-root-class-name3">
          <span class="reason3-text"><span>We Are Super Affordable:</span></span>
          <div class="reason3-container1">
            <span class="reason3-text1">
              <span>
                Travel doesn't have to break the bank, and we're here to prove it.
                We're committed to finding you the best deals on accommodations
                and activities, so you can have an amazing vacation without
                blowing your budget.
              </span>
            </span>
          </div>
        </div>
        <button class="button homepage-start-plan" onclick="window.location.href='/create-itinerary/'">Start Planning!</button>
        <div class= "weather">
          <h2 class = "trendy-locations"> This Month's Top Pick </h2>
          <p class = "locate"> {{location.name}} </p>
          <p class = "locatione-time"> Local Time: {{location.localtime}} </p>
          <h2 class = "current-weather"> Current Weather </h2>
          <p class = "temp"> Temperature: {{current.temp_c}} C</p>
          <img class = "icon" src="{{current.condition.icon}}" alt="weathericon" width="100" height="100">
        </div>
      </div>
      <button class="button gdpr-button"onclick="window.location.href='/gdpr/'">GDPR</button>
    </div>
    <footer class= "footer">
      <p>Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g. financial information or otherwise) into the system. The assignment runs until May 31st 2023, at which time the server and all associated data will be destroyed</p>
  </footer>  
  </div>
  
  