{% load json_filters %}

{% block content %}
    <h1>Past Trips</h1>
    <ul>
        {% for past_trip in past_trips %}
            <li>
                <h3>{{ past_trip.created_at|date:"F j, Y" }}</h3>
                {% with itinerary_data=past_trip.summary|json_decode %}
                    {% for day in itinerary_data %}
                        <h4>Day {{ forloop.counter }}</h4>
                        <div>
                            <h5>Attractions:</h5>
                            <ul>
                                {% for attraction in day.attractions %}
                                    <li>
                                        <div>{{ attraction.title }}</div>
                                        <img src="{{ attraction.img_src }}" alt="{{ attraction.title }}">
                                        <div>{{ attraction.address }}</div>
                                        {% if attraction.website %}
                                            <div>
                                                <a href="{{ attraction.website }}" target="_blank">Website</a>
                                            </div>
                                        {% endif %}
                                        <div>{{ attraction.rating }}</div>
                                        <p>Price Range: {{ attraction.price_range }}</p>
                                        {% if attraction.opening_hours %}
                                            <div>
                                                <h6>Opening hours:</h6>
                                                <ul>
                                                    {% for hour in attraction.opening_hours %}
                                                        <li>{{ hour }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {# Add sections for restaurants and hotels in a similar way #}
                    {% endfor %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
